@charset "UTF-8";

body{
    color: #777790;
}

a, a:hover{ color: #ffa9be }

em{ background: #ffa9be }

h1, h2, h3{ font-weight: normal }

hr{ border-top: 2px #ccc dashed }

blockquote{
    color: #ffa9be;
    padding: 1em;
    border-radius: 1em;
    background: #fafafa;
    border: 2px #ccc dashed;
}

/* 3 - 正文
-------------------------------- */
header{ margin: 3em 0 }

.headline{
    position: relative;
    padding-bottom: .5em;
    display: inline-block;
    transition: transform .3s;
}
.headline:hover{ transform: rotate(-6deg) }
.headline:after{
    content: '';
    height: 7px;
    width: 100%;
    left: 0;
    bottom: 0;
    position: absolute;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB8AAAAHCAYAAADwK5bPAAABDElEQVR4AWMoL5/wF4jfAvFVIF5TVjahuLR0kjIDFUFp6URVoLmlQPPXAfF1IH4HxP9Alv/Hgv8B8T6gBj8Ghv+M5FgI0ldW1h9QUTHxEMQ8THvAlhPA50CGNDQ0MBFjJUgd0MJAkD5CZoNdWFzcI1Ja2m9UXt6fWVExYSNQ4jcWxfeAuBkYGq5FRb2yubmT2KGWcQD1ywPl3IGWtgHph1j0/gRFaUVFf0JJyQS9ysopwjhdX13dJ11ePnECUMMPkGYK8FegOd0lJd1iJMdaVVW/JDAkeoCGvCHR0hegUACFKMWpFRTEoHgH+mIK0DFHgIY/A+LvUIu+AfETSMKaOKm0dIJPWtpMVmLMBQAofSPjvL1S8gAAAABJRU5ErkJggg==) repeat-x left center;
}

@media screen and (max-width: 600px){
    .headline{
        text-align: center;
    }
}

header, main{ margin-left: 8em; margin-bottom: 3em }

@media screen and (max-width: 600px){
    header, main{ margin-left: 0 }
}

.head-social{
    float: right;
    margin: 1.25em 0;
    user-select: none;
}
.head-social a{
    color: inherit;
    margin: 0 .5em;
    display: inline-block;
    transition: transform .3s;
}
.head-social a:hover{ transform: scale(1.2) }
.head-social i{ font-size: 1.2em }

@media screen and (max-width: 600px){
    header{ text-align: center }

    .head-social{
        float: none;
        margin-top: 2em;
    }
}


.board{
    padding: 1.5em;
    background: #fff;
    border-radius: 1.5em;
}
.board + .board{ margin-top: 2em }

.board.head{ display: inline-block }
.board.head .fa{ margin-right: .75em }

.post-item, .post-title{
    margin-bottom: 1.5em;
    padding-bottom: 1.5em;
    border-bottom: 2px dotted #777790;
}
.post-item:last-child{
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}
.post-item .date{
    display: block;
    color: #ffa9be;
    font-size: .85em;
    margin-bottom: .5em;
}
.post-item a{
    color: #777790;
}
.post-item h3:hover{ opacity: .6 }

.post-item h3{
    padding-left: 1em;
    position: relative;
    transition: opacity .3s;
}
.post-item h3:before{
    content: '';
    position: absolute;
    left: 0;
    top: .3em;
    border: .4em solid transparent;
    border-left-color: #ffa9be;
}

.post-meta{
    display: table;
    color: #777790;
    font-size: .85em;
}

.post-meta .category:before, .post-meta .comments:before, .post-meta .viewed:before, .post-meta .edit:before{
    content: '·';
    margin: 0 .5em;
}

.post-content > h1, .post-content > h2, .post-content > h3,
.post-special > h1, .post-special > h2, .post-special > h3{ position: relative }
.post-content > h1:before, .post-content > h2:before, .post-content > h3:before,
.post-special > h1:before, .post-special > h2:before, .post-special > h3:before{
    left: -1.5rem;
    top: 0;
    bottom: 0;
    width: .5em;
    content: '';
    display: block;
    position: absolute;
    background: #ffa9be;
    border-radius: 0 .5em .5em 0;
}
